.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 70rem;
}

.meal {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid rgb(34, 34, 34);
  min-height: 20rem;
  padding: 4rem 1rem;
  position: relative;
}

.delete {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.hidden {
  display: none;
}

.title {
  font-size: 1rem;
}

.emoji {
  margin: 0 auto;
  font-size: 2rem;
  max-width: 40px;
}